<section id="section0">
    <div class="section-header">
        <div class="hanna custom--header3">
            안녕하세요!

        </div>

    </div>
    <div id="section-clock">
        {{currTime}}
    </div>

    <div class="section-body">


        <div id="welcome-message">
            <span class="hanna">
                웹 개발자 김영태입니다
            </span>
        </div>

        <!-- <div>
            편하게 연락하세요! 가치가 있는 일을 함께 하며 성장을 하고자 합니다. 언제든지 연락주세요. 단순한 이야기여도 좋습니다! ^^
        </div> -->
        <div>

        </div>
        <!-- <div class="link-list">
            <ul>
                <li class="link-list-item">
                    <span>페이스북</span>
                    <fa-icon [icon]="facebookIcon"></fa-icon>
                </li>
                <li class="link-list-item">
                    <span>깃헙</span>
                    <fa-icon [icon]="faGithubIcon"></fa-icon>
                </li>
                <li class="link-list-item">
                    스팀잇
                    <small>
                        블로그
                    </small>
                </li>
                <li class="link-list-item">
                    cicada0014@gmail.com
                </li>
            </ul>

        </div> -->




    </div>



</section>

<section id="section1">
    <div class="section-header">
        <div class="hanna custom--header3">
            About
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col" style="flex:1">
                사진 박고
            </div>
            <div class="col" style="flex:1">
                소개

                반갑습니다. 김영태입니다.
                저는 IT 기술을 통해 재밌고, 멋진 일을 하고자합니다.
                더불어 세상 사람들에게 유익한 일을 해보고 싶어요.

                관심사

                스타트업과 창업에 대해 관심이 많습니다.
                하우스 음악을 즐겨듣습니다. 최근에는 작곡을 취미로 시작했어요 ㅎ
                인문학이나 다큐멘터리를 좋아합니다.
                농구를 좋아하고, 운동을 즐깁니다.
                주체적인 삶, 자유를 중시합니다.
            </div>
            <div class="col" style="flex:1">
                히스토리
                주저리주저리
            </div>

        </div>



    </div>
</section>
<section id="section2">
    <div class="section-header">
        <div class="hanna custom--header3">
            Skills
        </div>
    </div>
    <div class="section-body">
        '굉장히 빠르고 재미있게 공부를 하고 있습니다. 보다 깊은 이해를 하기 위해 노력합니다!'
        '지식에 대한 갈증을 해소하는 것 만큼 짜릿한 일이 또 있을까요.'



    </div>
</section>
<section id="section3">
    <div class="section-header">
        <div class="hanna custom--header3">
            Portfolio
        </div>
    </div>
    <div class="section-body">
    </div>
</section>
<section id="section4">
    <div class="section-header">
        <div class="hanna custom--header3">
            More
        </div>
    </div>
    <div class="section-body">
    </div>
</section>