





section{
    width: 100%;
    // height: 91vh;




    .section-header{
        margin: 0px 5px 30px 0px;
        padding: 20px;

    }
    .section-body{
        padding: 15px;
        .row{
            width: 100%;
            display: inline-flex;

        }


    }
}

#section0{
    background-image: url('../../assets/joycoding.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 91vh;
    .section-header{
        color: turquoise;
        // display: inline-flex;
        // width: 100%;
        justify-content: space-between;

    }
    #welcome-message{
        margin-top: 40vh;
        display: inline-flex;
        width: 100%;
        justify-content: flex-end;
        span{
            font-size: 35px;
            color:turquoise;
            background: #333
        }
    }

    #section-clock{
        font-size: 18px;
        padding: 0px 25px 5px 25px;
        font-weight: 500;
        color: aquamarine
    }
}

#section1{

    @media only screen and (min-width: 500px)  {
        height: 91vh;
    }
    .about-article{
        line-height: 2
    }

    .row{
        width: 100%;
        @media only screen and (max-width: 500px)  {
            display: flex;
            flex-direction: column
        }
        @media only screen and (min-width: 500px)  {
            display: inline-flex;
        }
        .long-col{
            flex: 2;
        }
        .col{

            flex: 1;
            height: 50vh;

            padding: 20px;
            .profile {
                height: 40vh;
                background-image: url('../../assets/youngtae_profile.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }
}

#section2{


    .skill-list{
        display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        img{
            max-width: 150px;
        }
    }

}