<section id="section0">
    <div class="section-header">
        <div class="hanna custom--header3">
            안녕하세요!

        </div>

    </div>
    <div id="section-clock">
        {{currTime}}
    </div>

    <div class="section-body">


        <div id="welcome-message">
            <span class="hanna">
                웹 개발자 김영태입니다
            </span>
        </div>

        <!-- <div>
            편하게 연락하세요! 가치가 있는 일을 함께 하며 성장을 하고자 합니다. 언제든지 연락주세요. 단순한 이야기여도 좋습니다! ^^
        </div> -->
        <div>

        </div>
        <!-- <div class="link-list">
            <ul>
                <li class="link-list-item">
                    <span>페이스북</span>
                    <fa-icon [icon]="facebookIcon"></fa-icon>
                </li>
                <li class="link-list-item">
                    <span>깃헙</span>
                    <fa-icon [icon]="faGithubIcon"></fa-icon>
                </li>
                <li class="link-list-item">
                    스팀잇
                    <small>
                        블로그
                    </small>
                </li>
                <li class="link-list-item">
                    cicada0014@gmail.com
                </li>
            </ul>

        </div> -->




    </div>



</section>

<section id="section1">
    <div class="section-header">
        <div class="hanna custom--header3">
            저는 이런 사람이에요
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>

        </div>



    </div>
</section>
<section id="section2">
    <div class="section-header">
        <div class="hanna custom--header3">
            안녕하세요22222
        </div>
    </div>
    <div class="section-body">
    </div>
</section>
<section id="section3">
    <div class="section-header">
        <div class="hanna custom--header3">
            안녕하세요22222
        </div>
    </div>
    <div class="section-body">
    </div>
</section>
<section id="section4">
    <div class="section-header">
        <div class="hanna custom--header3">
            안녕하세요22222
        </div>
    </div>
    <div class="section-body">
    </div>
</section>